* {
  font-size: 15px;
  color: white;
  background: transparent;
}

window#waybar {
  background-color: #1c1c1c;
}

#workspaces button.current_output.focused {
  background: #008791;
}
#workspaces button.current_output.focused:hover {
  background: #00abb8;
}

#workspaces button:hover {
  background: #3a3a3a;
}

#wlr-taskbar:hover {
  background: white;
}
